Notes.md
apache-jena-*.zip
apache-jena-*.tar.gz
apache-jena-*/
fusekibundle*rpm
fusekibundle*spec
.vagrant/*
data-v0/*
data-v1/*
data-v0.nt.gz
data-v1.nt.gz
data-v1-notabs.nt.gz
data-v0.ndj
data-v1.ndj
