address	http://schemas.talis.com/2005/address/schema#
admin	http://webns.net/mvcb/
atom	http://atomowl.org/ontologies/atomrdf#
atom	http://www.w3.org/2005/Atom
aws	http://soap.amazon.com/
b3s	http://b3s.openlinksw.com/
batch	http://schemas.google.com/gdata/batch/
bibo	http://purl.org/ontology/bibo/
bugzilla	http://www.openlinksw.com/schemas/bugzilla#
c	http://www.w3.org/2002/12/cal/icaltzd#
category	http://dbpedia.org/resource/Category:
cb	http://www.crunchbase.com/
cc	http://web.resource.org/cc/
content	http://purl.org/rss/1.0/modules/content/
cv	http://purl.org/captsolo/resume-rdf/0.2/cv#
cvbase	http://purl.org/captsolo/resume-rdf/0.2/base#
dawgt	http://www.w3.org/2001/sw/DataAccess/tests/test-dawg#
dbo	http://dbpedia.org/ontology/
dbp	http://dbpedia.org/resource/
dbpar	http://ar.dbpedia.org/resource/
dbpbg	http://bg.dbpedia.org/resource/
dbpca	http://ca.dbpedia.org/resource/
dbpcs	http://cs.dbpedia.org/resource/
dbpda	http://da.dbpedia.org/resource/
dbpde	http://de.dbpedia.org/resource/
dbpen	http://en.dbpedia.org/resource/
dbpeo	http://eo.dbpedia.org/resource/
dbpes	http://es.dbpedia.org/resource/
dbpet	http://et.dbpedia.org/resource/
dbpeu	http://eu.dbpedia.org/resource/
dbpfa	http://fa.dbpedia.org/resource/
dbpfi	http://fi.dbpedia.org/resource/
dbpfr	http://fr.dbpedia.org/resource/
dbphe	http://he.dbpedia.org/resource/
dbphi	http://hi.dbpedia.org/resource/
dbphr	http://hr.dbpedia.org/resource/
dbphu	http://hu.dbpedia.org/resource/
dbpid	http://id.dbpedia.org/resource/
dbpit	http://it.dbpedia.org/resource/
dbpja	http://ja.dbpedia.org/resource/
dbpkk	http://kk.dbpedia.org/resource/
dbpko	http://ko.dbpedia.org/resource/
dbplt	http://lt.dbpedia.org/resource/
dbpms	http://ms.dbpedia.org/resource/
dbpnl	http://nl.dbpedia.org/resource/
dbpno	http://no.dbpedia.org/resource/
dbppl	http://pl.dbpedia.org/resource/
dbppt	http://pt.dbpedia.org/resource/
dbpro	http://ro.dbpedia.org/resource/
dbprop	http://dbpedia.org/property/
dbpropar	http://ar.dbpedia.org/property/
dbpropbg	http://bg.dbpedia.org/property/
dbpropca	http://ca.dbpedia.org/property/
dbpropcs	http://cs.dbpedia.org/property/
dbpropda	http://da.dbpedia.org/property/
dbpropde	http://de.dbpedia.org/property/
dbpropen	http://en.dbpedia.org/property/
dbpropeo	http://eo.dbpedia.org/property/
dbpropes	http://es.dbpedia.org/property/
dbpropet	http://et.dbpedia.org/property/
dbpropeu	http://eu.dbpedia.org/property/
dbpropfa	http://fa.dbpedia.org/property/
dbpropfi	http://fi.dbpedia.org/property/
dbpropfr	http://fr.dbpedia.org/property/
dbprophe	http://he.dbpedia.org/property/
dbprophi	http://hi.dbpedia.org/property/
dbprophr	http://hr.dbpedia.org/property/
dbprophu	http://hu.dbpedia.org/property/
dbpropid	http://id.dbpedia.org/property/
dbpropit	http://it.dbpedia.org/property/
dbpropja	http://ja.dbpedia.org/property/
dbpropkk	http://kk.dbpedia.org/property/
dbpropko	http://ko.dbpedia.org/property/
dbproplt	http://lt.dbpedia.org/property/
dbpropms	http://ms.dbpedia.org/property/
dbpropnl	http://nl.dbpedia.org/property/
dbpropno	http://no.dbpedia.org/property/
dbproppl	http://pl.dbpedia.org/property/
dbproppt	http://pt.dbpedia.org/property/
dbpropro	http://ro.dbpedia.org/property/
dbpropru	http://ru.dbpedia.org/property/
dbpropsh	http://sh.dbpedia.org/property/
dbpropsk	http://sk.dbpedia.org/property/
dbpropsl	http://sl.dbpedia.org/property/
dbpropsr	http://sr.dbpedia.org/property/
dbpropsv	http://sv.dbpedia.org/property/
dbpropsw	http://sw.dbpedia.org/property/
dbproptr	http://tr.dbpedia.org/property/
dbpropuk	http://uk.dbpedia.org/property/
dbpropvi	http://vi.dbpedia.org/property/
dbpropvo	http://vo.dbpedia.org/property/
dbpropwar	http://war.dbpedia.org/property/
dbpropzh	http://zh.dbpedia.org/property/
dbpru	http://ru.dbpedia.org/resource/
dbpsh	http://sh.dbpedia.org/resource/
dbpsk	http://sk.dbpedia.org/resource/
dbpsl	http://sl.dbpedia.org/resource/
dbpsr	http://sr.dbpedia.org/resource/
dbpsv	http://sv.dbpedia.org/resource/
dbpsw	http://sw.dbpedia.org/resource/
dbptr	http://tr.dbpedia.org/resource/
dbpuk	http://uk.dbpedia.org/resource/
dbpvi	http://vi.dbpedia.org/resource/
dbpvo	http://vo.dbpedia.org/resource/
dbpwar	http://war.dbpedia.org/resource/
dbpzh	http://zh.dbpedia.org/resource/
dc	http://purl.org/dc/elements/1.1/
dcterms	http://purl.org/dc/terms/
digg	http://digg.com/docs/diggrss/
dnb	http://d-nb.info/standards/elementset/gnd#
dnbac	http://d-nb.info/standards/vocab/gnd/geographic-area-code#
dnbvo	http://d-nb.info/standards/vocab/gnd/
ebay	urn:ebay:apis:eBLBaseComponents
enc	http://purl.oclc.org/net/rss_2.0/enc#
exif	http://www.w3.org/2003/12/exif/ns/
facebook	http://api.facebook.com/1.0/
fb	http://rdf.freebase.com/ns/
fbkey	http://rdf.freebase.com/key/
ff	http://api.friendfeed.com/2008/03
fn	http://www.w3.org/2005/xpath-functions/#
foaf	http://xmlns.com/foaf/0.1/
frbr	http://rdvocab.info/uri/schema/FRBRentitiesRDA/
g	http://base.google.com/ns/1.0/
gb	http://www.openlinksw.com/schemas/google-base#
gd	http://schemas.google.com/g/2005/
geo	http://www.w3.org/2003/01/geo/wgs84_pos#
geonames	http://www.geonames.org/ontology#
georss	http://www.georss.org/georss/
gml	http://www.opengis.net/gml/
gnd	http://d-nb.info/gnd/
go	http://purl.org/obo/owl/GO#
grs	http://www.georss.org/georss/
hlisting	http://www.openlinksw.com/schemas/hlisting/
hoovers	http://wwww.hoovers.com/
hrev	http://www.purl.org/stuff/hrev#
ical	http://www.w3.org/2002/12/cal/ical#
ir	http://web-semantics.org/ns/image-regions/
itunes	http://www.itunes.com/DTDs/Podcast-1.0.dtd
lgv	http://linkedgeodata.org/vocabulary#
link	http://www.xbrl.org/2003/linkbase/
lod	http://lod.openlinksw.com/
math	http://www.w3.org/2000/10/swap/math#
media	http://search.yahoo.com/mrss/
mesh	http://purl.org/commons/record/mesh/
meta	urn:oasis:names:tc:opendocument:xmlns:meta:1.0
mf	http://www.w3.org/2001/sw/DataAccess/tests/test-manifest#
mmd	http://musicbrainz.org/ns/mmd-1.0#
mo	http://purl.org/ontology/mo/
mql	http://www.freebase.com/
nci	http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#
nfo	http://www.semanticdesktop.org/ontologies/nfo/#
ng	http://www.openlinksw.com/schemas/ning#
nyt	http://www.nytimes.com/
oai	http://www.openarchives.org/OAI/2.0/
oai_dc	http://www.openarchives.org/OAI/2.0/oai_dc/
obo	http://www.geneontology.org/formats/oboInOwl#
office	urn:oasis:names:tc:opendocument:xmlns:office:1.0
oo	urn:oasis:names:tc:opendocument:xmlns:meta:1.0:
openSearch	http://a9.com/-/spec/opensearchrss/1.0/
opl	http://www.openlinksw.com/schema/attribution#
opl-gs	http://www.openlinksw.com/schemas/getsatisfaction/
opl-meetup	http://www.openlinksw.com/schemas/meetup/
opl-xbrl	http://www.openlinksw.com/schemas/xbrl/
oplweb	http://www.openlinksw.com/schemas/oplweb#
ore	http://www.openarchives.org/ore/terms/
owl	http://www.w3.org/2002/07/owl#
product	http://www.buy.com/rss/module/productV2/
protseq	http://purl.org/science/protein/bysequence/
prov	http://www.w3.org/ns/prov#
r	http://backend.userland.com/rss2/
radio	http://www.radiopop.co.uk/
rdf	http://www.w3.org/1999/02/22-rdf-syntax-ns#
rdfa	http://www.w3.org/ns/rdfa#
rdfs	http://www.w3.org/2000/01/rdf-schema#
rdgr	http://rdvocab.info/ElementsGr2/
rev	http://purl.org/stuff/rev#
review	http://www.purl.org/stuff/rev#
rss	http://purl.org/rss/1.0/
sc	http://purl.org/science/owl/sciencecommons/
schema	http://schema.org/
scovo	http://purl.org/NET/scovo#
sf	urn:sobject.enterprise.soap.sforce.com
sioc	http://rdfs.org/sioc/ns#
sioct	http://rdfs.org/sioc/types#
skos	http://www.w3.org/2004/02/skos/core#
slash	http://purl.org/rss/1.0/modules/slash/
stock	http://xbrlontology.com/ontology/finance/stock_market#
twfy	http://www.openlinksw.com/schemas/twfy#
umbel	http://umbel.org/umbel#
umbelac	http://umbel.org/umbel/ac/
umbelsc	http://umbel.org/umbel/sc/
uniprot	http://purl.uniprot.org/
usc	http://www.rdfabout.com/rdf/schema/uscensus/details/100pct/
v	http://www.openlinksw.com/xsltext/
vcard	http://www.w3.org/2001/vcard-rdf/3.0#
vcard2006	http://www.w3.org/2006/vcard/ns#
vi	http://www.openlinksw.com/virtuoso/xslt/
viaf	http://viaf.org/viaf/
virt	http://www.openlinksw.com/virtuoso/xslt/
virtcxml	http://www.openlinksw.com/schemas/virtcxml#
virtrdf	http://www.openlinksw.com/schemas/virtrdf#
virtrdf	http://www.openlinksw.com/virtrdf-data-formats#
void	http://rdfs.org/ns/void#
wb	http://www.worldbank.org/
wd	http://www.wikidata.org/entity/
wdo	http://www.wikidata.org/ontology#
wf	http://www.w3.org/2005/01/wf/flow#
wfw	http://wellformedweb.org/CommentAPI/
xf	http://www.w3.org/2004/07/xpath-functions/
xfn	http://gmpg.org/xfn/11#
xhtml	http://www.w3.org/1999/xhtml/
xhv	http://www.w3.org/1999/xhtml/vocab#
xi	http://www.xbrl.org/2003/instance/
xml	http://www.w3.org/XML/1998/namespace/
xn	http://www.ning.com/atom/1.0/
xsd	http://www.w3.org/2001/XMLSchema#
xsl10	http://www.w3.org/XSL/Transform/1.0
xsl1999	http://www.w3.org/1999/XSL/Transform/
xslwd	http://www.w3.org/TR/WD-xsl/
y	urn:yahoo:maps
yago	http://dbpedia.org/class/yago/
yt	http://gdata.youtube.com/schemas/2007/
zem	http://s.zemanta.com/ns#

slub http://data.slub-dresden.de/
slubres http://data.slub-dresden.de/resources/
rvk  https://rvk.uni-regensburg.de/api/json/ancestors/
wachtl http://data.ub.uni-leipzig.de/item/wachtl/

